.clock {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 244, 232);
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    margin: 20px 50px;
    border-radius: 10px;
    font-size: 22px;
    color: rgb(96, 63, 63);
}